<section>
    <article ng-repeat="wEvent in workevents.slice().reverse()">
        <header>
            <h1>{{wEvent.start | date}} | {{wEvent.title}}</h1>
            <h2>{{wEvent.type}}</h2>
        </header>

        <p>{{wEvent.description}}</p>

        <div class="actions" ng-show="currentUser">
            <button ui-sref="edit-workevent({ id: wEvent.id })">Edit</button>
            <button ui-sref="delete-review({ id: wEvent.id })">Delete</button>
        </div>
    </article>
</section>